// 例如目标设计稿的尺寸：iphone6,7,8 -> 375px
$targetDeviceWidth:3.75;
// 在设计稿为375屏幕上，根标签html字体的大小 20px
$htmlFontSize:$targetDeviceWidth * 5.3333;

$headerHeight:60px;
$footerHeight:1px;

$asideWidth:20px;
$asideHeight:100%;

$mainHeight:calc(100% - 60px - 1px);


// 主题色
$themeColor:#5E98FB;
$activeColor:#3D84FD;

$fs20:20px;
$fs16:16px;
$fs15:15px;
$fs14:14px;
$fs12:12px;

$navColor:#F7F9FE; // 导航底色
$menuColor:#cee2ff; // 菜单选中底色
$btnColor:#5E98FB; // 按钮颜色,主题色
$activeBtnColor:#3D84FD; // 点击/划入时按钮颜色

$successColor: #31B989; // 成功
$successWarn: #FF9146; // 警告
$successAnguar: #F86359; // 危险,例如：表格删除字体。。。


$iconLink: #4395FF; // 部分图标连接
$mouseHover: #EAF4FF; // 鼠标移入背景
$btnDisable: #EBEFF3; // 不可点击


$tColorHeader: #3B5471; // 标题文字
$tColorContent: #5B6171; // 正文文字
$tColorSecond: #9BA7BE; // 次要文字

$tColorImport: #4165ED; // 重要文字
$tColorHolder: #5B6171; // 占位文字
$tColorLink: #4395FF; // 连接文字，例如：表格中的点击编辑，..

$bgColorF2:#F5F5F9; // 小背景
$bgColorF1:#F6F8FC; // 中背景
$bgColorF0:#F8F9FF; // 大背景

$tableBorderColor: #EAEBEF; // 列表边框
$btnBorderColor: #E0E0E0; // 列表边框

$fsMiddle:16px;  // 中等字体
$fsDefault:14px; // 默认字体

$inputHover:#C0C4CC; //input hover 时边框颜色
// 表格的宽
$tableWidth:960px;
// $tableWidth:595px;
