/* 1.使用全局样式 */
body,html{
  font-family: 'PingFang-SC-Medium','Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  width: 100%;
  height: 100%;
  color: #5B6171; /* 正文字体 */
}

//  540px > deviceWidth >= 0px 手机
html {
  // 默认字体大小
  font-size: 20px;
  font-size: 5.33333vw;
}
// 这个媒体查询的顺序不能乱
//  1080px > deviceWidth >= 540px  ipad
@media screen and (min-width: 540px){
  html {
    font-size: 28.8px;
  }
}

// deviceWidth >= 1080px pc
@media screen and (min-width: 1080px){
  html{
    font-size: 57.6px;
  }
}


/* 2.清除浮动-用在父亲元素中 */
.clearfix:after{ /*伪元素是行内元素 正常浏览器清除浮动方法*/
  content: "";
  display: block;
  height: 0;
  clear:both;
  visibility: hidden;
}
.clearfix{
  *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}

/* 3.显示文本显示在一行 */
.text-ono-line{
  white-space:nowrap;        /* 不换行 */
  overflow:hidden;           /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow:ellipsis;    /*溢出时显示省略标记...；需与overflow:hidden;一起使用*/
}

/* 4.显示文本显示2行文本（建议使用js来实现） */
.text-tow-line{
  overflow: hidden;

  /* -webkit-line-clamp: 2; // 限制在一个块元素显示的文本的2行, 需结合：下面两个属性 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text-third-line{
  overflow: hidden;

  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}