
<%_ if (component) { _%>
<template>
  <div class="<%= component.name %>">
    {{name}}
  </div>
</template>

<script>
export default {
  name: '<%= component.humpName %>',
  components: {

  },
  data() {
    return {
      name: '<%= component.humpName %>'
    }
  }
}
</script>
<style lang="scss">
.<%- component.name %>{

}
</style>
<%_ } _%>
